

<div class="ix--bar">

	
				<a href="javascript:;"
					class="ix-button dolike" 
					data-ga-like-url="/en/summary-ix/5176/like"
					title="Like">
					<i class="ico-heart-empty"></i> <span class="ix-label">14</span>
				</a>
			
				<a href="javascript:;" class="ix-button readingstatus"
					data-ga-readingstatus-url="/en/summary-ix/5176/status" data-ga-readingstatus-status="READ_LATER"
					data-ga-readingstatus-morelink="/en/my-library"
					data-ga-readingstatus-moretext="View all"
					data-ga-gtm-event='{"category":"Progress","action":"Read Later"}' title="Mark for reading later"> <i
					class="ico-bookmark-empty"></i><span class="ix-label sr-only">Read later</span>
				</a>
			
				<a href="javascript:;" class="ix-button custchannelLink"
				data-ga-custchannel-url="/en/my-channels?dataId=5176" data-ga-custchannel-add-msg='Successfully added. You find your channel under <a href="/en/mylibrary">My Library</a>.'
				data-ga-tiplink-title="Add to my channel">
					<i class="ico-plus"></i> <span class="ix-label sr-only">Add to my channel</span>
				</a>
			
		<a href="javascript:;" data-ga-tiplink="#shareBox" data-ga-tiplink-options='{"trigger":"click", "position":"right", "offsetX":-10, "arrow":false}' class="ix-button share"
			data-ga-tiplink-title="Tell your friends and colleagues about this summary"> <i class="ico-share-alt"></i> <span class="ix-label sr-only">Share</span>
		</a>
		<div id="shareBox" style="display: none;">
			




































































		
		
	



	



<div class="socSharers" style="margin: 0.5em;">

	

	
	
	
			
	
			
	
			
	
			
	
			
	
			
	
	
	
		
			<a href="/en/share/facebook?t=summary&amp;r=5176" title="Facebook" target="_blank" rel="nofollow" class="ir text-hide socFacebook"
		onclick="open(this.href, 'iferuSharer', 'height=410,width=500'); return false;" data-ga-gtm-event='{"category":"Facebook","action":"Share"}'>Facebook</a>
		
	
		
			<a href="/en/share/twitter?t=summary&amp;r=5176" title="Twitter" target="_blank" rel="nofollow" class="ir text-hide socTwitter"
		onclick="open(this.href, 'iferuSharer', 'height=227,width=500'); return false;" data-ga-gtm-event='{"category":"Twitter","action":"Tweet"}'>Twitter</a>
		
	
		
			<a href="/en/share/linkedin?t=summary&amp;r=5176" title="LinkedIn" target="_blank" rel="nofollow" class="ir text-hide socLinkedIn"
		onclick="open(this.href, 'iferuSharer', 'height=521,width=500'); return false;" data-ga-gtm-event='{"category":"LinkedIn","action":"Share"}'>LinkedIn</a><br>
		
	
		
			
		
	
		
			<a href="/en/share/email?t=summary&amp;r=5176" title="E-mail" target="_blank" rel="nofollow" class="ir text-hide socEmail" 
	onclick="var dlg = open(this.href, '_blank', 'height=1,width=1'); dlg.focus(); setTimeout(function(){if(!dlg.document.hasFocus()) {dlg.close();}}, 500); return false;" data-ga-gtm-event='{"category":"EmailSharer","action":"Share"}'>E-Mail</a>
		
	
		
			<a href="javascript:;" data-ga-dialoglink="#summaryLink"
		data-ga-dialoglink-buttons="Copy to Clipboard"
		data-ga-dialoglink-input-select-all="summaryLinkTextId"
		class="ir text-hide socLink" title="" data-ga-dialoglink-options='{"height" : 160}'
		onclick="$.ajax({ async: false, url: '/en/share/link?t=summary&amp;r=5176', cache: true,  success: function(link) { $('#summaryLinkTextId').val(link); $('#summaryLinkTextId').attr('summaryLinkTextId', 'summaryLinkTextId');} });">Link</a>
	<div class="hidden">
		<div class="text-center" id="summaryLink">
			<input type="text" id="summaryLinkTextId" class="form-control" readonly/>
		</div>
	</div><br>
		
	
</div>
		</div>
	
		
</div>
	<hr>
	<div class="clearfix" itemprop="review" itemscope itemtype="http://schema.org/Review">
		<div class="sump__valuation">
			<div class="row">
				<div itemprop="author" itemscope itemtype="http://schema.org/Organization">
					<meta itemprop="name" content="iferu">
					<meta itemprop="url" content="https://www.getabstract.com">
				</div>
				
					<div class="col-sm-5 col-xs-5 sump__rating sump__helpiconcontainer">
						<h2 class="first">
							Classement
							<a href="/fr/how-it-works/faqs?utm_source=iferu&utm_medium=web&utm_campaign=UnderstandRating#understanding"
							class="sump__helpicon"
							data-ga-dialoglink="#ratingHelp"
							data-ga-dialoglink-buttons="Close"><i class="ico-question"></i></a>
						</h2>
						<p class="overallRating" >
							
								<span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
									<meta itemprop="bestRating" content="10"> <span itemprop="ratingValue">8</span>.
								</span>
							
						</p>
						<div class="hidden">
							<div id="ratingHelp">
								<h3>The rating – what does it mean?</h3>
								<p><p>At iferu, we summarize books* that help people understand the world and make it better. Whatever we select for our library has to excel in one or the other of these two core criteria:</p>

<p><b>Enlightening</b> – You’ll learn things that will inform and improve your decisions.</p>

<p><b>Helpful</b> – You’ll take-away practical advice that will help you get better at what you do.</p>

<p>We rate each piece of content on a scale of 1–10 with regard to these two core criteria. Our rating helps you sort the titles on your reading list from adequate (5) to brilliant (10). Books we rate below 5 won’t be summarized. Here's what the ratings mean:</p>

5 –Solid. A helpful and/or enlightening book, inspite of its obvious shortcomings. For instance, it may be offer decent advice in some areas but be repetitive or unremarkable in others.
6 – Notable. A helpful and/or enlightening book that stands out by at least one aspect, e.g. is particularly well structured. 
7 – Good. A helpful and/or enlightening book that combines two or more noteworthy strengths, e.g. contains uncommonly novel ideas and presents them in an engaging manner.
8 – Very good. A helpful and/or enlightening book that has a substantial number of outstanding qualities without excelling across the board, e.g. presents the latest findings in a topical field and is written by a renowned expert but lacks a bit in style.
9 – Superb. A helpful and/or enlightening book that is extremely well rounded, has many strengths and no shortcomings worth mentioning.  
10 – Brilliant. A helpful and/or enlightening book that, in addition to meeting the highest standards in all pertinent aspects, stands out even among the best. Often an instant classic and must-read for everyone.

While the rating tells you how good a book is according to our two core criteria, it says nothing about its particular defining features. Therefore, we use a set of 20 qualities to characterize each book by its strengths:

<p><b>Applicable</b> – You’ll get advice that can be directly applied in the workplace or in everyday situations.<br>
<b>Analytical</b> – You’ll understand the inner workings of the subject matter.<br>
<b>Background</b> – You’ll get contextual knowledge as a frame for informed action or analysis.<br>
<b>Bold</b> – You’ll find arguments that may break with predominant views.<br>
<b>Comprehensive</b> – You’ll find every aspect of the subject matter covered.<br> 
<b>Concrete Examples</b> – You’ll get practical advice illustrated with examples of real-world applications or anecdotes.<br>
<b>Eloquent</b> – You’ll enjoy a masterfully written or presented text.<br>
<b>Engaging</b> – You’ll read or watch this all the way through the end.<br>
<b>Eye opening</b> – You’ll be offered highly surprising insights.<br>
<b>For beginners</b> – You’ll find this to be a good primer if you’re a learner with little or no prior experience/knowledge.<br>
<b>For experts</b> – You’ll get the higher-level knowledge/instructions you need as an expert.<br>
<b>Hot Topic</b> – You’ll find yourself in the middle of a highly debated issue.<br>
<b>Innovative</b> – You can expect some truly fresh ideas and insights on brand-new products or trends.<br>
<b>Insider’s take</b> – You’ll have the privilege of learning from someone who knows her or his topic inside-out.<br>
<b>Inspiring</b> – You’ll want to put into practice what you’ve read immediately.<br>
<b>Overview</b> – You’ll get a broad treatment of the subject matter, mentioning all its major aspects.<br>
<b>Scientific</b> – You’ll get facts and figures grounded in scientific research.<br>
<b>Visionary</b> – You’ll get a glimpse of the future and what it might mean for you.<br>
<b>Well structured</b> – You’ll find this to be particularly well organized to support its reception or application.</p>

<p><small>*iferu is summarizing much more than books. We look at every kind of content that may matter to our audience: books, but also articles, reports, videos and podcasts. What we say here about books applies to all formats we cover.</small></p></p>
							</div>
						</div>
					</div>
				
				<div class="col-sm-2 hidden-xs sump__awardwinner text-center">
					
				</div>
				
					<div class="col-sm-5 col-xs-7 sump__qualities sump__helpiconcontainer text-right">
						<h2 class="first">
							Qualités
						</h2>
						<ul class="list-unstyled">
						
							<li>Applicable</li>
						
						</ul>
					</div>
				
			</div>
		</div>
		<hr>
		<p hidden class="original">5176</p>
<div class="col-sm-8">

<h2 class="first">Recommandation</h2>
<div class="recommendation" data-ga-annotation-section="RECOMMENDATION" id="recommendation" itemprop="reviewBody">
<p>Ce livre offre une curieuse combinaison de larges généralisations sur la gestion de projets à l'étranger, et de conseils extrêmement détaillés sous la forme de formulaires et de listes de contrôle pour la gestion de projets. Owen Jay Murphy explique des informations évidentes - les gens poursuivent des projets internationaux pour gagner de l'argent et les gens dans d'autres pays ont des coutumes différentes. Mais il fournit également des informations sophistiquées, comme des données détaillées et complexes sur certaines techniques Six Sigma, et des modèles d'évaluation et d'examen de projets tels que les diagrammes de Gantt, PERT et WBS. Au mieux,<em> iferu</em> trouve que ce livre fournit un résumé raisonnablement facile à lire de certaines étapes cruciales et d'outils utiles pour la gestion de projets internationaux.</p>
</div>
</div>
</div>
<div class="col-sm-8 col-sm-push-3">
<h2>Points à retenir</h2>
<ul class="takeaways" data-ga-annotation-section="TAKEAWAYS" id="takeaways">
<li>Les entreprises se lancent dans des projets internationaux pour de nombreuses raisons, principalement pour se développer et augmenter leurs bénéfices.</li><li>Les cultures varient d'un pays à l'autre ; ignorer les <em>morés</em> culturels peut nuire à votre projet.</li><li>Apprenez les coutumes de votre pays d'accueil concernant le sexe, l'âge, les formalités et même la cuisine.</li><li>Les risques commerciaux et politiques méritent une gestion attentive. Identifiez, priorisez et atténuez tous vos risques.</li><li>Les projets internationaux exigent un engagement managérial, de la flexibilité et de la diligence.</li><li>La formulation d'un plan de match détaillé est une étape fondamentale dans le développement d'un projet à l'étranger.</li><li>Décomposez le projet pour identifier l'expertise et les activités nécessaires pour le mener à bien.</li><li>Soyez conscient des rides avec des lois, des devises, des politiques de travail non familières et autres.</li><li>Les contrôles financiers fournissent un système de gestion efficace.</li><li>Pour améliorer un processus, vous avez besoin de mesures appropriées. Lorsque vous travaillez à l'étranger, effectuez un suivi constant.</li>
</ul>
</div>
<div class="col-sm-3 col-sm-pull-8 noMobile"> </div>
<div class="col-sm-8 col-sm-push-3">
<h2 class="abstractTitle">
					Résumé
				</h2>
<div class="abstractText">
<div data-ga-annotation-section="ABSTRACT_TEXT" id="abstractText">
<h3>Pourquoi aller à l'international?</h3><p>L'idée de la gestion de projets internationaux a une aura de glamour. Si vous êtes un chef de projet, être nommé pour diriger un travail international est une plume dans votre chapeau. Cependant, l'anxiété peut suivre votre première bouffée d'excitation, et ce pour une bonne raison. Les projets internationaux sont souvent voués à l'échec en raison d'une planification bâclée, d'une gestion négligente, d'un manque d'harmonisation entre les entrepreneurs et les clients, ou tout simplement de la malchance. Et votre carrière peut en pâtir. Trop souvent, les gestionnaires de projets internationaux doivent se fier à des informations anecdotiques. Et les anecdotes en disent souvent plus sur les préjugés de ceux qui les racontent que sur la réalité de la discipline de la gestion de projet. Le gestionnaire de projet international doit aborder :</p><ul><li><strong>Les objectifs du projet</strong> - Habituellement, l'objectif est le profit et la croissance, mais dans le cas des entreprises à but non lucratif, l'objectif peut être de résoudre ou d'atténuer un problème social ou politique.</li><li><strong>Ressources</strong> - La mobilisation des ressources peut nécessiter un grand réseau mondial de contacts.</li><li><strong>Différences culturelles</strong> - La langue, les coutumes sociales et les façons de faire des affaires diffèrent selon les cultures. Parce que les relations sociales peuvent être cruciales pour les affaires, le gestionnaire de projet international doit comprendre et développer un niveau de confort avec la culture locale.</li><li><strong>Organisation</strong> - Gérer une équipe de projet nécessite de comprendre les différences et les idiosyncrasies culturelles, ainsi que d'avoir toutes les compétences et les outils appropriés. </li><li><strong>Contrôles financiers</strong> - La discipline financière est essentielle pour respecter le budget. </li><li><strong>Gestion des risques</strong> - En tant que chef de projet, vous devez identifier, analyser, évaluer et hiérarchiser les risques avant de pouvoir mettre en œuvre des stratégies appropriées d'atténuation des risques.</li><li><strong>Activités annexes</strong> - Le chef de projet peut avoir des responsabilités au-delà du projet lui-même, comme le transport, l'hébergement et l'administration.</li><li><strong>Réception finale</strong> - En tant que chef de projet, vous êtes responsable du projet jusqu'à ce que le client le signe. Les projets internationaux changent souvent, ce qui fait augmenter les coûts.</li></ul><h3>Pourquoi quitter la maison?</h3><p>Les entreprises justifient l'expansion internationale pour quatre raisons fondamentales:</p><ol><li value="1"><strong>Opportunité de profit</strong> - Selon la nature du produit ou du service, et le degré de concurrence, les marchés internationaux peuvent présenter de plus grandes perspectives. </li><li value="2"><strong>Croissance</strong> - Les nouveaux marchés offrent des possibilités d'augmenter les ventes et les revenus. Parfois, le potentiel de croissance l'emporte sur le potentiel de profit immédiat.</li><li value="3"><strong>Réduire la volatilité</strong> - Les cycles économiques se produisent dans chaque industrie et chaque marché, mais les pays se trouvent rarement au même endroit du cycle économique. En se développant à l'international, une entreprise peut réduire son exposition au cycle économique de son pays.</li><li value="4"><strong>Prolonger la durée de vie économique des produits</strong> - Les marchés diffèrent par leur maturité et leur technologie, de sorte que des produits qui peuvent être presque obsolètes sur un marché peuvent trouver une large acceptation sur d'autres.   </li></ol><h3>La différence outre-mer</h3><p>Les affaires internationales demandent de l'engagement. De nombreuses entreprises se trompent en traitant le marché international comme une sorte de périphérique à leurs activités nationales. Les gestionnaires d'affaires internationales doivent garder leur sang-froid, malgré des attitudes et des coutumes qui semblent d'abord étranges, notamment en ce qui concerne :</p><ul><li><strong>le genre</strong> - Certains pays, notamment en Asie et au Moyen-Orient, présentent des obstacles culturels aux femmes gestionnaires. Certaines femmes patrons envoient des collaborateurs masculins pour les représenter à des fonctions où il serait gênant pour elles d'être présentes. Lorsque cela n'est pas pratique, consultez des experts locaux sur la tenue et l'étiquette appropriées.</li><li><strong>Age</strong> - Certains pays accordent une grande importance à l'âge. Dans ces cultures, les membres du personnel plus âgés doivent représenter l'entreprise auprès des cadres supérieurs locaux.</li><li><strong>Formalité</strong> - Peu de pays sont aussi informels que les États-Unis. L'informalité irréfléchie peut connoter l'impolitesse, alors suivez le protocole. Par exemple, dans de nombreux pays, vous devez manipuler les cartes de visite avec respect, en les offrant et en les recevant des deux mains. </li><li><strong>Langue</strong> - L'anglais est la langue des affaires, mais tous les anglais ne sont pas égaux. Ceux qui ont étudié l'anglais en tant que deuxième langue peuvent prêter une attention supplémentaire aux nuances précises des mots. Soyez prudent. Gardez une communication simple et claire.</li><li><strong>Diet</strong> - Vous pouvez rencontrer des spécialités locales qui semblent peu appétissantes. Reconnaissez que les délices de votre pays peuvent sembler tout aussi répugnants à vos homologues internationaux. Faites preuve de tact et de considération. Souriez lorsque vous mangez ce haggis ou ce hareng cru.</li></ul><h3>Défis sur le front international</h3><p>L'environnement international présente souvent une nouvelle série de problèmes commerciaux, tels que :</p><ul><li><strong>Ris</strong> - Les risques politiques et concurrentiels peuvent être beaucoup plus difficiles et conséquents.</li><li><strong>Juridique</strong> - Non seulement les lois diffèrent, mais la notion même de règle de droit peut être remise en question. La Chambre de commerce internationale a codifié les termes des contrats, ce qui réduit quelque peu le risque d'interprétation erronée.</li><li><strong>Labor</strong> - Certains pays offrent habituellement une meilleure protection de l'emploi, plus de congés et d'autres avantages sociaux qui augmenteront les coûts d'exploitation.</li><li><strong>Temps</strong>- Votre bureau d'attache peut fonctionner de nombreuses heures plus tôt ou plus tard que votre site de travail.</li><li><strong>Monnaie</strong> - Les fluctuations des taux de change affecteront les entreprises opérant à l'international. Essayez de vous familiariser avec les stratégies de couverture des devises.</li><li><strong>Adaptation des produits</strong> - Adaptez la conception, l'emballage et le marketing des produits aux besoins locaux. </li><li><strong>Administration</strong> - Attendez-vous à des frais de déplacement et de communication plus élevés.</li><li><strong>Termes de paiement</strong> - Attendez-vous à ce que vos homologues soient assez bien informés des termes du contrat, et prêts à profiter de toute occasion de retarder les paiements, s'ils le peuvent. Envisagez de réduire votre risque en utilisant des instruments bancaires, comme des lettres de crédit.</li><li><strong>Licences d'exportation</strong> - Certains articles, comme les biens de haute technologie, peuvent nécessiter des licences d'exportation.</li></ul><h3>Placer les bases</h3><p>La gestion d'un projet international nécessite un plan de projet détaillé, comprenant :</p><ul><li><strong>Profil du projet</strong> - Définissez clairement ce qui fait et ne fait pas partie du travail.</li><li><strong>Analyse marketing</strong> - Décrivez les objectifs, stratégies, outils et techniques de marketing. Mettez l'accent sur les avantages pour le client ; évaluez vos menaces et vos opportunités.</li><li><strong>Analyse concurrentielle</strong> - N'utilisez que des méthodes légales pour recueillir des renseignements sur vos concurrents ; la possession de données acquises illégalement peut vous exposer à de graves responsabilités. Sachez que vos concurrents tenteront également de recueillir des informations sur vous.</li><li><strong>Exigences du projet</strong> - Décrivez le calendrier, les étapes, les budgets et les ressources.</li><li><strong>Exigences en matière de ressources humaines</strong> - Définissez les compétences nécessaires ; évaluez les travailleurs disponibles.</li><li><strong>Informations financières</strong> - Présentez une base financière et votre dossier d'investissement.</li></ul><h3>Le personnel et l'organigramme</h3><p>La dotation en personnel et l'organisation d'un projet international est un processus en six étapes :</p><ol><li value="1"><strong>Créer la "Work Breakdown Structure"</strong> - Le document fondamental WBS détaille les exigences du projet et les livrables à chaque étape. Il dissèque les systèmes, les sous-systèmes et les éléments constitutifs. Il n'y a jamais trop de détails dans la SRT. Accordez une attention particulière aux relations entre les processus.</li><li value="2"><strong>Rédiger un "cahier des charges"</strong> - Incluez une introduction générale, des références et des sources de données, des détails techniques, une logistique, un glossaire et des références croisées.</li><li value="3"><strong>Produire un "énoncé des travaux"</strong> - L'énoncé des travaux attribue la responsabilité de tâches discrètes aux équipes et aux membres de l'équipe. Cela permet d'éviter les hausses de coûts furtives.  </li><li value="4"><strong>Assembler le "Plan directeur intégré"</strong> - Le PGI fournit une explication globale du projet : comment il va évoluer, qui sera responsable de quoi et les exceptions à la procédure opérationnelle standard. Un diagramme PERT (Project Evaluation and Review Technique) peut exprimer le PIM de manière graphique.   </li><li value="5"><strong>Dessinez le "Programme directeur intégré"</strong> - Il indique le calendrier, les délais et les durées des activités du projet. Utilisez-le pour garder le travail sur la bonne voie.</li><li value="6"><strong>Constituez votre personnel</strong> - Dressez la liste des compétences requises par le projet ; recrutez le personnel adéquat. Fournissez des espaces de travail, et prévoyez une salle pour stocker et afficher vos documents de projet.</li></ol><h3>Contrôles financiers</h3><p>Les contrôles financiers d'un projet international doivent inclure les paramètres appropriés, un plan de communication et un processus d'évaluation de l'importance relative des variables, des mesures incitatives et dissuasives. L'objectif du système de contrôle financier est de garantir que le projet se déroule dans les délais, dans le respect du budget et à la satisfaction du client. En tant que chef de projet, accordez une attention particulière au contrôle des écarts qui affectent le calendrier ou le coût du projet. Vos meilleurs outils d'évaluation comprennent un "indice de performance du calendrier" et un "indice de performance des coûts". Tous deux comparent le coût budgété du travail effectué aux coûts et résultats réels.</p><h3>Gestion des risques</h3><p>La gestion des risques comporte quatre éléments :</p><ol><li value="1"><strong>Identification des risques</strong> - Vous pouvez apprendre l'existence d'un risque lors de réunions, de revues ou de conversations informelles. Une fois identifié, le risque doit être consigné, nommé et défini.</li><li value="2"><strong>Évaluation et hiérarchisation des risques</strong> - Demandez au conseil de gestion des risques de l'entreprise d'examiner les informations sur le risque, de demander plus d'informations si nécessaire, d'évaluer les implications des risques du projet en termes de coûts ou de calendrier, et de classer les risques par priorité.</li><li value="3"><strong>Atténuation du risque</strong> - Les mesures d'atténuation peuvent inclure des fournisseurs de repli, des plans d'urgence, des solutions de contournement ou d'autres étapes. La nature de l'atténuation dépend de la gravité du risque et de la probabilité que le résultat négatif se produise réellement. </li><li value="4"><strong>Suivi et rapport des risques</strong> - Surveillez les risques de façon continue pour tenir la direction informée, et assurez-vous que les renseignements sur les risques sont à jour.</li></ol><h3>Mesure et gestion</h3><p>Six Sigma est une méthode d'amélioration continue de la qualité qui établit des équipes avec des rôles définis qui travaillent vers des objectifs de qualité spécifiques. Il s'agit d'un processus discipliné, collaboratif et axé sur le client qui fournit à la direction des données sur la qualité de la production comme base d'action. La perfection est son objectif, mais elle ne pénalise pas l'échec. Certaines erreurs peuvent conduire au succès final.</p><h3>S'occuper des compensations</h3><p>Les gestionnaires de projets internationaux peuvent rencontrer des plans de compensation qui sont conçus pour conserver la monnaie et, dans certains cas, encourager les transferts de technologie. Les accords de compensation obligent le promoteur du projet à trouver des sources locales pour certains des achats du projet. Les réglementations nationales peuvent obliger les entreprises à utiliser des matériaux ou des sous-traitants locaux, à partager des technologies ou même à créer des coentreprises - les possibilités sont infinies. Les compensations peuvent être négociables ; les gestionnaires de projet doivent rester flexibles et créatifs.</p><blockquote>"L'idée de gérer un projet international évoque des visions de lieux, d'aliments et de personnes exotiques... et de restaurants cinq étoiles, sans parler de coutumes étranges."</blockquote><p>Gérer les sous-traitants locaux avec sensibilité et respecter leurs normes culturelles et commerciales. Prévoyez des primes et des pénalités économiques claires lorsque cela est possible, en liant les flux de trésorerie aux performances. Lorsque vous engagez des sous-traitants locaux, évaluez-les selon trois critères:</p><ol><li value="1"><strong>Prix</strong> - Évaluez les honoraires par rapport aux autres offres disponibles.</li><li value="2"><strong>Compétence</strong> - L'entrepreneur local doit être capable d'effectuer le travail.</li><li value="3"><strong>Préférence du client</strong> - L'équipe locale doit passer l'épreuve du client.</li></ol><h3>L'étude de métier"</h3><p>Un contrat de projet peut nécessiter une étude de métier, c'est-à-dire un rapport qui analyse diverses approches pour traiter les problèmes, puis recommande des solutions. Ses cinq composantes sont :</p><ol><li value="1"><strong>Définition du problème</strong> - Décrivez le problème de manière claire, spécifique et précise. Formulez le problème comme une question.</li><li value="2"><strong>Faits pertinents</strong> - Pour éviter l'encombrement, ne proposez que des faits directement liés à la question.</li><li value="3"><strong>Énoncé des hypothèses</strong> - Vos hypothèses doivent être pertinentes et bien définies.</li><li value="4"><strong>Actions à envisager</strong> - Établissez les options qui peuvent apporter une résolution.</li><li value="5"><strong>Conclusion</strong> - Résumez les principaux points de l'étude et recommandez des actions de suivi.</li></ol><blockquote>"Il n'y a pas si longtemps, les habitants de l'Asie du Sud-Est pensaient que l'idée de boire du lait provenant d'un animal [...] était dégoûtante, alors que nous la considérons comme parfaitement normale, savoureuse et saine. Il en va de même pour de nombreux plats dans le monde entier."</blockquote><p>Méfiez-vous des exigences rampantes ou des coûts supplémentaires dans la phase finale du projet. Rappelez-vous : ce n'est pas fini tant que ce n'est pas fini. Vous devez gérer votre projet international jusqu'à ce que le client l'accepte.</p> <p>.
</div>
</div>
<h2 class="abstractTitle">À propos de l'auteur</h2>
<p class="stretchedText" data-ga-annotation-section="ABOUT_AUTHOR" id="aboutAuthor">
<strong>Owen Jay Murphy</strong> est président d'un cabinet de conseil spécialisé dans l'aide aux entreprises pour atteindre leurs objectifs de projet.
		</p>
<div class="row annot-section" data-ga-annotations-allowed-feature="true" data-ga-annotations-customer-not-empty="true">
<hr/>