body{
    background-image: url("http://www.easyfreepatterns.com/patterns/7/oak-wood-grain-seamless-background-tileable-or-wallpaper--7881.jpg");
  }
  .book{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 20px 20px 20px rgba(0,0,0,.5);
    background-image: 
      linear-gradient(
        90deg,
        hsla(30,40%,50%,.7),
        hsla(30,40%,30%,.9),
        hsla(30,40%,50%,.7) 99%
        );
    margin: 3%;
    margin-top: 1%;
    height: 800px;
  }
  
  .blueHighlight{
    color: white;
    background-color: rgb(24, 127, 223);
  }
  .pages{
    white-space: pre-wrap;
    width: 40%;
    margin: 4%;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -webkit-column-fill: balance;
    -moz-column-count: 1; /* Firefox */
    -moz-column-fill: balance;
    column-count: 1;
    column-fill: balance;
    column-gap: 30%;
  }
  p{
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  .tools {
    z-index: 10;
    display: none;
    list-style: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,.5);
    border: solid 1px #000;
    position: absolute;
    background: rgb(233, 209, 143);
    -webkit-padding-start: 0%;
  }
  .tools li {
    display: inline-flex;
    justify-content: center;
  }
  
  .tools button{
    width: 80px;
    height: 90px;
    border: solid 1px #000;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  ul.color { 
    z-index: 10;
    color:rgb(236, 236, 228);
    display: none;
    list-style: none;
    /* box-shadow: 0px 0px 4px rgba(0,0,0,.5); */
    border: solid 1px rgba(0, 0, 0, 0);
    /* border-radius: 40%; */
    user-select: none; 
    height: 35px;
    width:90px;
    position: absolute;
    background: rgba(46, 45, 45, 0.856);
    -webkit-padding-start: 0%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  ul.color span{
    position: relative;
    display: block;
    padding-top: 5px;
    padding-left: 15px;
    cursor:pointer; 
  }
  .dot {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }
  .dot2 {
    height: 15px;
    width: 15px;
    cursor: pointer;

    /* border-radius: 50%; */
    display: inline-block;
  }

  #imagex{
    position: relative;
    bottom: 9px;
    height: 15px;
    width: 15px;
  }
  
  .dot3 {
    height: 15px;
    width: 5px;
    background-color: rgb(3, 242, 250);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

  }
  .dot4 {
    height: 15px;
    width: 5px;
    background-color: rgb(255, 0, 212);
    border-radius: 50%;
    cursor: pointer;

    display: inline-block;
  }
  
  .note{
    display: none;
    list-style: none;
    position: absolute;
  }
  
  li textarea{
    box-shadow: 0px 0px 4px rgba(0,0,0,.5);
    border: solid 1px #000;
    height: 100px;
    width: 200px;
    resize: none;
    background: rgb(245, 255, 106);
    -webkit-padding-start: 0%;
  } 
  
  .navbar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .navbar li {
    list-style: none;
    padding: 8px 8px 8px 16px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .navbar h1{
    list-style: none;
    padding: 8px 8px 8px 32px;
    margin: 0;
    z-index: -1;
    font-size: 50px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  .navbar li:hover, .offcanvas li:focus {
    color: #f1f1f1;
  }
  .navbar .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } 